.button {
	width: 255px;
	height: 50px;
	transition: 0.5s; /* Время эффекта */
}

.button:hover {
	width: 270px;
	height: 60px;
}

.info__button {
	margin-left: 125px;
	text-align: center;
}

.button.-blue {
	background-color:  #4737FF;
	border: solid 2px #4737FF; 
	margin-bottom: 30px;
}

.button.-white {
	background-color: #F4F4F4;
	border: solid 2px  #4737FF; 
	margin-bottom: 28px;
}

.Button__learn {
	text-align: center;
	color: #000000;
	opacity: 0.3;
}

.text__blue {
	color: #4737FF;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.text__white {
	color: #F4F4F4;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
	.info__button {
		margin-left: 50px;
	}
}

@media screen and (max-width: 930px){
	.info__button {
		display: contents;
	}

	.button.-blue {
		margin-top: 50px;
	}

	.Button__learn {
		display: block;
		margin-right: 39%;
	}
}

@media screen and (max-width: 767px) {
	.Button__learn {
		display: none;
	}

	.button {
		width: 100%;
	}
}

@media screen and (max-width: 425px) {
	.button{
		width: 95%;
	}
}
